.container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 550px);
    justify-items: center;
        
}
.card {
    box-shadow: 5px 5px 20px -7px rgba(0,0,0,0.71);/*add sombra em um ou mais elementos*/
    width: 200px;
    height: 500px;
}
.card-image{
    width: 200px;
    height: auto;
}
.card-button{
    width: 100%;
    border: 0;
    padding: 10px;
    background-color: darkgrey;
}