.container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    justify-items: center;
    gap: 20px;
    justify-content: center;
   
}
img{
    width: 250px;
    height: 250px;
    border: 5px solid;
}